body{
    background-color: #f2e9dc;
    color: #4a3728;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container{
    display: flex;
    flex-direction: row;        
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    margin-top: 8px;
    padding: 10px;
}

.jhanrel{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.dennis{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.king{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.rochelle{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.airish{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.sean{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
}

.sean .liks{
    display: flex;
    flex-direction: row;
    gap: 10px;

}



h1{
   margin:40px 400px 40px 496px;
   padding:30px 300px; 
}
img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

p{
    margin: 5px 0px;
    padding: 5px;
    min-height: 2px;
}


a{
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    padding: 10px 20px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #8b6f47;
    color: #f2e9dc;
    border-radius: 5px;
    font-weight: bold;
}

a:hover{
    background-color: #6d5a3a;
}